<div class="card mb-4">
  <div class="card-header bg-primary text-white">
    <h4 class="text-center">ユーザー情報</h4>
  </div>
  <div class="card-body text-center">
    <% if current_user %>
      <% profile_image_path = user.get_profile_image(100, 100) %>
      <% if profile_image_path != 'no_profile.jpg' %>
        <%= image_tag profile_image_path, class: 'img-fluid rounded-circle mb-3', style: 'width: 100px; height: 100px;' %>
      <% else %>
        <%= image_tag 'no_profile.jpg', class: 'img-fluid rounded-circle mb-3', style: 'width: 100px; height: 100px;' %>
      <% end %>
      <h5>ユーザー名: <%= user.name %></h5>
      <% if current_user.id == user.id %>
        <%= link_to raw('<i class="fa-solid fa-gear"></i> プロフィールを編集'), edit_user_path(user.id), class: "btn btn-outline-primary mt-3" %>
      <% end %>
    <% else %>
      <%= image_tag 'no_profile.jpg', class: 'img-fluid rounded-circle mb-3', style: 'width: 100px; height: 100px;' %>
      <h5>ユーザー名:</h5>
    <% end %>
  </div>
</div>
