<div class="container">
  <div class="row">
    <!-- 投稿フォーム -->
    <div class="col-4">
      <%= render "posts/new", post: @post %>
    </div>

    <!-- 過去の投稿 -->
    <div class="col-8">
      <h1>マイページ</h1>
      <h3>過去の投稿</h3>
      <% if @user.posts.any? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>内容</th>
              <th>投稿日</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @user.posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                <td><%= post.content %></td>
                <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
                <td>
                  <% if @user.id == current_user.id %>
                    <%= link_to "編集", edit_post_path(post), class: "btn btn-info btn-sm" %>
                    <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger btn-sm" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>過去の投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>