<%= form_with model: event, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :start %>
    <%= f.text_field :start, class: 'form-control datetime-picker' %>
  </div>
  <div class="form-group">
    <%= f.label :end %>
    <%= f.text_field :end, class: 'form-control datetime-picker' %>
  </div>
  <div class="form-group">
    <%= f.submit '保存', class: 'btn btn-primary' %>
  </div>
<% end %>
