<!-- app/views/shops/events/_form.html.erb -->
<%= form_with model: event, url: events_path do |f| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, { default: Date.today }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, { default: Date.today + 1.hour }, class: 'form-control' %>
  </div>


  <%= f.submit 'イベント作成', class: 'btn btn-primary' %>
<% end %>
