<h1><%= action_name == 'new' ? '新規イベント作成' : 'イベント編集' %></h1>

<%= form_with model: @event, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :start, "開始日時" %>
    <%= f.datetime_field :start, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :end, "終了日時" %>
    <%= f.datetime_field :end, class: 'form-control' %>
  </div>
  <div class="d-grid">
    <%= f.submit action_name == 'new' ? '作成' : '更新', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'キャンセル', events_path, class: 'btn btn-secondary' %>
