<h2>検索結果</h2>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <!-- 検索対象モデルが User の時 -->
    <% if @range == "User" %>
      <thead>
        <tr>
          <th scope="col">プロフィール画像</th>
          <th scope="col">名前</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="text-center">
              <% if user.profile_image.attached? %>
                <%= image_tag user.profile_image.variant(resize_to_fill: [100, 100]).processed, class: "img-thumbnail" %>
              <% else %>
                <%= image_tag user.get_profile_image(100, 100), class: "img-thumbnail" %> <!-- ここで引数を指定 -->
              <% end %>
            </td>
            <td>
              <%= link_to user.name, user_path(user), class: "text-decoration-none" %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <div class="pagination-container text-center">
              <%= paginate @users %>
            </div>
          </td>
        </tr>
      </tfoot>
    <% else %>
      <!-- 検索対象モデルが Post の時 -->
      <thead>
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">内容</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to post.title, post_path(post), class: "text-decoration-none" %>
            </td>
            <td><%= truncate(post.content, length: 100) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <div class="pagination-container text-center">
              <%= paginate @posts %>
            </div>
          </td>
        </tr>
      </tfoot>
    <% end %>
  </table>
</div>
