<div class="container">
  <div class="row">
    <!-- ユーザー情報と投稿フォーム -->
    <div class="col-md-4">
      <!-- ユーザー情報 -->
      <div class="mb-4">
        <%= render "users/profile", user: @user %>
      </div>
      <!-- 投稿フォーム -->
      <div class="mb-4">
        <%= render "new",post: @post %>
      </div>
    </div>

    <!-- 投稿一覧 -->
    <div class="col-md-8">
      <h1 class="text-center my-4">投稿一覧</h1>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-6 mb-4">
            <div class="card">
              <% if post.image.attached? %>
               <%= image_tag post.image, class: 'card-img-top',width: '100',height: '100' %>
              <% end %>
              <div class="card-body">
                <h4 class="card-title"><%= link_to post.title, user_path(post.user_id) %></h4>
                <p class="card-text"><%= post.content %></p>
                <p class="card-text"><%= link_to "#{post.post_comments.count}コメント",post_path(post.id)%></p>
                <p class="card-text"><small class="text-muted">投稿日: <%= post.created_at.strftime('%Y/%m/%d') %></small></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>