<div class="container">
  <div class="row">
    <!-- ユーザー情報と投稿フォーム -->
    <div class="col-md-4">
      <!-- ユーザー情報 -->
      <div class="card mb-4">
        <div class="card-body">
          <%= render "users/profile", user: @user %>
        </div>
      </div>
      <!-- 投稿フォーム -->
      <div class="card mb-4 new-post-form">
        <div class="card-body">
          <%= render "new", post: @post %>
        </div>
      </div>
    </div>

    <!-- 投稿一覧 -->
    <div class="col-md-8">
      <h1 class="text-center my-4">投稿一覧</h1>
      <div class="row mb-3">
        <div class="col text-center">
          <%= link_to "新しい順", posts_path(latest: true), class: "btn btn-primary mx-1" %>
          <%= link_to "古い順", posts_path(old: true), class: "btn btn-secondary mx-1" %>
          <%= link_to "いいねが多い順", posts_path(favorite_count: true), class: "btn btn-success mx-1" %>
        </div>
      </div>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-6 mb-4">
            <div class="card h-100">
              <% if post.image.attached? %>
                <%= image_tag post.image, class: 'card-img-top', style: 'height: 200px; object-fit: cover;' %>
              <% end %>
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">
                  <%= link_to post.title, post_path(post), class: 'text-decoration-none text-dark' %>
                </h4>
                <p class="card-text text-truncate" style="max-height: 4em; overflow: hidden;">
                  <%= post.content %>
                </p>
                <div class="mt-auto">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0">
                      <%= link_to "#{post.post_comments.count} コメント", post_path(post), class: "btn btn-link p-0" %>
                    </p>
                    <p class="mb-0 favorite-count" id="favorite-count-<%= post.id %>">
                      <%= post.favorites.count %> いいね
                    </p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-2" id="favorite-link-<%= post.id %>">
                    <%= render partial: "favorites/favorite_link", locals: { post: post } %>
                  </div>
                  <p class="card-text mt-2">
                    <small class="text-muted">投稿日: <%= post.created_at.strftime('%Y/%m/%d') %></small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
