<div class="container">
  <div class="row">
    <!-- ユーザー情報 -->
    <div class="col-md-4">
      <div class="mb-4">
        <%= render "users/profile", user: @user %>
      </div>
    </div>

    <!-- 投稿詳細 -->
  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-header text-center">
        <h1 class="my-4"><%= @post.title %></h1>
      </div>
    <% if @post.image.attached? %>
      <div class="text-center">
        <%= image_tag @post.image, class: 'img-fluid' %>
      </div>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= simple_format(@post.content,sanitize:true) %></p>
      <% @post.tags.each do |tag| %>
        <span class="badge badge-primary"><%= tag.name %></span>
      <% end %>
      <p class="card-text">投稿日: <%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <p class="card-text favorite-count" id="favorite-count-<%= @post.id %>">
        <%= @post.favorites.count %> いいね
      </p>
      <div id="favorite-link-<%= @post.id %>">
        <%= render partial: "favorites/favorite_link", locals: { post: @post } %>
      </div>
    </div>
  </div>
</div>


      <!-- コメント欄 -->
      <div class="card mt-4">
        <div class="card-header bg-primary text-white">
          <h4>コメント一覧</h4>
        </div>
        <div class="card-body" id="comment_list">
          <p id="comment_count">コメント件数: <%= @post.post_comments.count %></p>
          <%= render partial: "post_comments/post_comment", collection: @post.post_comments, as: :post_comment %>
        </div>
      </div>

      <!-- コメント入力フォーム -->
      <div class="card mt-4">
        <div class="card-header bg-primary text-white">
          <h4>コメントを追加する</h4>
        </div>
        <div class="card-body">
          <%= form_with model: [@post, PostComment.new], local: false do |f| %>
            <div class="form-group">
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
            </div>
            <%= f.submit "送信する", class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </div>

      <!-- 戻る・編集・削除ボタン -->
      <div class="d-flex justify-content-between mt-4">
        <%= link_to '戻る', posts_path, class: 'btn btn-secondary btn-sm' %>
        <% if @post.user_id == current_user.id %>
          <div>
            <%= link_to "編集する", edit_post_path(@post), class: 'btn btn-info btn-sm' %>
            <%= link_to "削除する", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
